<div class="card flex justify-content-center p-0">
    <!-- <p-button (click)="showDialog()" icon="pi pi-external-link" label="Show"></p-button> -->

    <p-dialog header="Header" [(visible)]="visible" class="p-0" [modal]="true" [style]="{width: '380px',height:'508px'}" 
        [closable]="false">
        <ng-template pTemplate="header">
            <div class="inline-flex align-items-center justify-content-center gap-2">
                <span class="font-bold white-space-nowrap">Cambiar Contraseña</span>
            </div>
        </ng-template>
        <br>
        <div class="security-message" class="p-0 m-0">
            <p>
                Por razones de seguridad, se requiere que el usuario cambie su contraseña de inicio de sesión la primera vez que accede al sistema.
                    Una vez modificada, deberá iniciar sesión nuevamente.
            </p>
            
            <div class="password-tips" >
                <p>Considere esto para una contraseña fuerte:</p>
                <ul class="password-list ">
                    <li ><span class="bullet ">&#8226;</span > Al menos una minúscula.</li>
                    <li ><span class="bullet ">&#8226;</span > Al menos una mayúscula.</li>
                    <li ><span class="bullet ">&#8226;</span > Al menos un número.</li>
                    <li ><span class="bullet ">&#8226;</span > Mínimo 8 caracteres.</li>
                </ul>
            </div>
                
            <br>
            
                <span class="p-float-label">
                    <p-password
                        [(ngModel)]="value"
                        [toggleMask]="true"
                        required
                        styleClass="p-password p-component p-inputwrapper p-input-icon-right"
                        weakLabel="Débil"
                        mediumLabel="Buena"
                        strongLabel="Fuerte"
                        class="p-0 m-0"
                        [ngModelOptions]="{standalone: true}"
                        placeholder="Ingrese Password"
                    >
                    </p-password>
                    <label for="password">Password</label>
                </span>
            
        </div>            
        
        <ng-template pTemplate="footer" class="p-0 m-0" >
            <p-button icon="pi pi-check" class="p-0 m-0" (click)="changePassword()" label="Ok" pAutoFocus ></p-button>
        </ng-template>
    </p-dialog>
    </div>