.security-message {
    background-color: #f9f9f9;
    //border: 1px solid #ccc;
    padding: 15px;
    border-radius: 5px;
    margin-bottom: 20px;
}

.password-tips {
    margin-top: 10px;
}

.password-tips p {
    font-weight: bold;
}

.password-tips .password-list {
    list-style-type: none;
    padding-left: 0;
}

.password-tips .password-list li {
    margin-bottom: 5px;
    font-size: 16px;
}

.password-tips .bullet {
    font-size: 20px;
    margin-right: 5px;
    margin: 0;
}

.p-dialog-content {
    overflow-y: auto !important;
    flex-grow: 0 !important;
}